:root {
    --cpd-color-bg-canvas: #1e1f22;
    --cpd-color-bg-subtle: #2b2d31;
    --cpd-color-bg-action-primary: #5865F2;
    --cpd-color-text-primary: #f2f3f5;
    --cpd-color-text-secondary: #b5bac1;
    --cpd-color-border-interactive: #3f4147;
    --cpd-color-icon-primary: #f2f3f5;
}
